/* Google fonts import */
    @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: lavender;
    font-family: 'Fraunces', serif;    
}

header {
    background-color: antiquewhite;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px black;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Fraunes', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

#menu {
    font-size: 110%;
    letter-spacing: 110%;
    list-style-type: armenian;
}

#menu > li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid black;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: lavender;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    display: none;
}

main {
    background-color: bisque;
    flex: 1 0 auto;
}

footer {
    background-color: aliceblue;
}