/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Fraunces', serif;
    color: rgb(39, 38, 38)
}

h1,
h2 {
    font-family: 'Fraunes', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;

}

header {
    background-color: antiquewhite;
    padding: 0 1rem;
    position: sticky;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 0;
    left: 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

#menu {
    padding: 5px;
    margin-top: 10px;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    align-items: center;
    padding-bottom: 5px;
    background-color: antiquewhite;
    gap: 10px;

}

#menu>li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid black;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#menu a {
    text-decoration: none;
    color: #312121;
}

#menu a:hover {
    color: #b55c5c;
}

#menu .active {
    border-bottom: 1.5px solid #ddd;
}

/* Main content */
main {
    margin: 0;
    background-attachment: fixed;
    background-image: url("../images/thyvictoriansociety-back-image.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: bisque;
    flex: 1 0 auto;

}

#about {
    line-height: 20px;
}

#about h2 {
    margin-bottom: 25px;
}

.sections {
    margin: 0 10px 100px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 120px;
    background-color: rgba(250, 235, 215, 0.9);
}

.section.section {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    background-color: rgba(250, 235, 215, 0.9);
    padding: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

#error {
    max-width: 300px;
    text-align: center;
    color: black;
}

/* Gallery page */
#photos img {
    width: 50%;
    line-height: 1em;
}

#photos {
    line-height: 2;
}

.join-button {
    margin-top: 5px;
    border-radius: 1px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: rgb(139, 88, 88);
    color: antiquewhite;
}
section {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    background-color: rgba(250, 235, 215, 0.9);
    padding: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

/* Form */
#signup {
    background-size: cover;
    background-position: 75%;
    flex-grow: 1;
}

section {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    background-color: rgba(250, 235, 215, 0.9);
    padding: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: antiquewhite;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */

    /*Thy Victorian Society*/
    #cover-text {
        width: 300px;
        right: 50px;
    }
     
    /* Form */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #4d2222;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid rgb(149, 77, 77);
    }
}