/* Google fonts import */
    @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family: 'Fraunces', serif;    
}

h1, h2, h3 {
    font-family: 'Fraunes', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:black;
}

header {
    background-color: antiquewhite;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 110%;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid black;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
   display: block; 
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: bisque;
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Victorians ID*/
#victorians {
    height: 600px;
    width: 100%;
    background: url("../images/Thy\ Victorian\ Society\ back\ image.jpg") no-repeat center center/cover;
   
}

.sections {
    margin: 0 10px 100px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 120px;
    background-color: black;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /*Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px ;
    }

    /*Thy Victorian Society*/
    #cover-text {
        width: 300px;
        right: 50px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid black;
    }
}

